algorithms
amsmath
babel
babel-spanish
biber
biblatex
booktabs
caption
csquotes
enumitem
fancybox
fontspec
graphics
hyphen-spanish
koma-script
listings
lualatex-math
minted
setspace
translations
unicode-math
xcolor